body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./Imgs/wallpapersden.com_pokemon-4k-cool_1366x768.jpg');
  background-attachment: fixed ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.danger {
  border: 2px solid red;
}

.dangerus{
  color: aliceblue;
  text-shadow: -4px -4px 3px red;
  text-decoration: underline red;
  font-size: 17px;
}