.Loading {
    color: aliceblue;
    text-shadow: -5px -5px 3px #000;
    margin-top: 215px;
    font-size: 4em;
}

.Please {
    color: aliceblue;
    text-shadow: -5px -5px 3px #000;
    margin-top: 270px;
    font-size: 2em;
}
